<div class="container">
  <div class="content-box">
    <h1 [@fadeInUp]="titleState">À propos de moi</h1>
    <div class="about-content" [@fadeInUp]="contentState">
      <div class="profile-section">
        <img src="assets/images/profiles.png" alt="Photo de profil" class="profile-image">
        <div class="profile-info">
          <h2>Développeur Full Stack</h2>
          <p>Passionné par le développement logiciel, web et les nouvelles technologies</p>
        </div>
      </div>
      <div class="bio-section">
        <p>Je suis un développeur full stack, passioné par les nouvelles technologies, toujours à la recherche d'opportunités pour apprendre et m'améliorer. Je suis motivé, curieux et attentif aux besoins des utilisateurs, essayant au maximum de répondre aux exigences de ceux-ci.</p>
      </div>
    </div>
    <div class="skills-section" [@fadeInUp]="skillsState">
      <h2>Compétences clés</h2>
      <ul>
        <li>Développement Front-end (Angular, React Native)</li>
        <li>Développement Back-end (Node.js, Python, C)</li>
        <li>Bases de données (MongoDB, MySQL)</li>
        <li>DevOps & Cloud (Docker, AWS)</li>
      </ul>
    </div>
  </div>
</div>
  
